.home_btn {
    cursor: pointer;
}

.klm_logo {
    width: 144px;
    height: 144px;
    margin: 10px auto;
    display: block;
}

a:visited, a:link{
    color: black;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px;
}
