html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: NoaLight;
  font-style: normal;
  font-weight: normal;
  src: url('assets/NoaLTStd-LightTab.woff') format('woff');
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-container {
  width: 100%;
  height: 100%;
}

mat-card {
  margin: 10px 20px;
}
